<div class="mt-2">
<!-- modal pour faire la creation d'un role -->
 <app-modal  [(active)]="activeModalCreationRole">
  <app-creation-role-back-office></app-creation-role-back-office>
 </app-modal>
  <div class="flex justify-between py-3 bg-background rounded-lg my-8 px-4">
    <!--    recherche -->
    <div class="grid grid-cols-1">
      <input type="email" name="email" id="email"
        class="col-start-1 row-start-1 block w-full rounded-md bg-white py-1.5 pl-10 pr-3 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:pl-9 sm:text-sm/6"
        placeholder="you@example.com">
      <svg class="pointer-events-none col-start-1 row-start-1 ml-3 size-5 self-center text-main-text-color sm:size-4"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="1.5">
          <circle cx="11.5" cy="11.5" r="9.5" />
          <path stroke-linecap="round" d="M18.5 18.5L22 22" />
        </g>
      </svg>
    </div>
    <!-- conteneur : filtre, export, datepicker et bouton retrait -->
    <div class="flex gap-3 items-center">
      <ul>
        <li>
          <button class="flex gap-2 items-center px-4 bg-white py-2 rounded-lg border">
            <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="none" stroke="currentColor" stroke-width="1.5"
                d="M19 3H5c-1.414 0-2.121 0-2.56.412S2 4.488 2 5.815v.69c0 1.037 0 1.556.26 1.986s.733.698 1.682 1.232l2.913 1.64c.636.358.955.537 1.183.735c.474.411.766.895.898 1.49c.064.284.064.618.064 1.285v2.67c0 .909 0 1.364.252 1.718c.252.355.7.53 1.594.88c1.879.734 2.818 1.101 3.486.683S15 19.452 15 17.542v-2.67c0-.666 0-1 .064-1.285a2.68 2.68 0 0 1 .899-1.49c.227-.197.546-.376 1.182-.735l2.913-1.64c.948-.533 1.423-.8 1.682-1.23c.26-.43.26-.95.26-1.988v-.69c0-1.326 0-1.99-.44-2.402C21.122 3 20.415 3 19 3Z" />
            </svg>
            <span>Filter</span>
          </button>
        </li>
      </ul>
      <button class="flex gap-2 items-center px-4 bg-white py-2 rounded-lg border">
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M14 5v4C7 10 4 15 3 20c2.5-3.5 6-5.1 11-5.1V19l7-7zm2 4.83L18.17 12L16 14.17V12.9h-2c-2.07 0-3.93.38-5.66.95c1.4-1.39 3.2-2.48 5.94-2.85l1.72-.27z" />
        </svg>
        <span>Exporter</span>
      </button>
      <button (click)="onactiveModalCreationRole(true)"type="button"
        class="inline-flex items-center gap-x-3 rounded-md bg-main px-5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-main/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 5v14m-7-7h14" />
        </svg>
        Attribuer un role
      </button>
    </div>
  </div>
  <div class="table-wrapper">
    <div class="flow-root rounded overflow-hidden">
      <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-10 text-left text-sm font-semibold bg-main text-white rounded-l-lg">Nom
                de l'utilisateur</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold bg-main text-white">Email</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold bg-main text-white">Role</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold bg-main text-white">Derniere connexion
              </th>
              <th scope="col" class="pr-10 py-3.5 text-sm font-semibold bg-main text-white text-right rounded-r-lg">
                Statut</th>
            </tr>
          </thead>
          <tbody class="bg-white my-3">
            <tr class="py-2 h-[15px]">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <!-- DEBUT -->
            <tr class="bg-background">
              <td class="whitespace-nowrap pl-10 py-3 text-sm text-main-text-color rounded-l-lg flex flex-1 gap-2">
              <img class="size-4 rounded-full object-contain bg-gray-50" src="/assets/images/user.jpg" alt="user profile">
              Agnès Moukagni</td>
              <td class="whitespace-nowrap px-3 text-sm text-main-text-color">Jesfreymarie.gouv</td>
              <td class="whitespace-nowrap pt-2  px-3 text-sm text-main-text-color flex items-center gap-3">
                Administrateur
              </td>
              <td>
                En ligne
              </td>
              <td>
                <button class="  flex items-center gap-2 px-4 py-1 bg-green-600 border rounded-xl">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2" aria-hidden="true">
                    <circle cx="12" cy="12" r="9" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-white">Actif</span>
                </button>
              </td>
            </tr>
            <!-- FIN -->
            <tr class="py-2 h-[15px]">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <!-- DEBUT -->
            <tr class="bg-background ">
              <td class="whitespace-nowrap pl-10 py-3 text-sm text-main-text-color rounded-l-lg flex flex-1 gap-4">
                <img class="size-4 rounded-full object-contain bg-gray-50" src="/assets/images/user.jpg" alt="user profile">
                Lebama hoeins
              </td>
              <td class="whitespace-nowrap px-3 text-sm text-main-text-color">lebamahoeins.gouv</td>
              <td class="whitespace-nowrap pt-2  px-3 text-sm text-main-text-color flex items-center gap-3">
                <!-- <img src="{{paiementLogo[1]}}" alt="Paiement bamboo" class="size-8 rounded-full object-contain">
              <span>
                {{hiddenLetters('1234567891234567',4)}}
              </span> -->
                Gestionnaire de collecteur
              </td>
              <td>
                <!-- <span class="w-full flex justify-end">
                <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m9 5l6 7l-6 7"/>
              </svg>
              </span> -->
                30/07/2025 à 11h25
              </td>
              <td>
                <button class="  flex items-center gap-2 px-4 py-1 bg-green-600 border rounded-xl">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2" aria-hidden="true">
                    <circle cx="12" cy="12" r="9" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <span class="text-white">Actif</span>
                </button>

              </td>
            </tr>
            <!-- FIN -->
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
