<app-contener>
  <div class="flex justify-between items-center pb-6">
    <app-h1>Statistique</app-h1>
    <div>
      <div class="mt-2 grid grid-cols-1">
        <select id="location" name="location" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-700 outline outline-2 -outline-offset-1 outline-border-color focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-main sm:text-sm/6">
          <option>Année en cours</option>
          <option>2024</option>
          <option>2023</option>
          <option>2022</option>
          <option>2021</option>
        </select>
        <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>

  </div>
  <div class="chart-container">
    <canvas id="Chart" class="h-[300px]"></canvas>
  </div>
</app-contener>
