<div>
  <div>
    <app-h1>Notification de transactions</app-h1>
    <app-input-radio title="E-mail de transaction">
      Me notifier pour chaque transaction
    </app-input-radio>
    <app-input-radio title="Reçu client">
      Envoyez un e-mail à mes client pour chaque reçu
    </app-input-radio>
  </div>
  <div class="py-7">
    <app-h1>Notification de transfert</app-h1>
    <app-input-radio title="E-mail de débit">
      Me notifier pour les transaction débitrices
    </app-input-radio>
    <app-input-radio title="E-mail de crédit">
      Me notifier pour les transactions sur mon compte
    </app-input-radio>
  </div>
</div>
