<div class="h-full flex flex-col justify-between">
  <div>
    <h1 class="text-main text-2xl font-bold w-full max-w-[450px]">Récapitulatif de la transaction</h1>
    <p class="w-full max-w-[500px]">
      Vérifier les informations avant de les confirmer.
    </p>
    <p class="py-4"></p>
    <app-contener-gray>
      <ul class="flex flex-col gap-3">
        <li class="flex justify-between text-[14px]">
          <span>Compte à débiter</span>
          <span class="font-medium">Walle|0005005475509</span>
        </li>
        <li class="flex justify-between text-[14px]">
          <span>Compte à créditer</span>
          <span class="font-medium">00055178422</span>
        </li>
        <li class="flex justify-between text-[14px]">
          <span>Montant</span>
          <span class="font-medium">795 000 XAF</span>
        </li>
        <li class="flex justify-between text-[14px]">
          <span>Frais</span>
          <span class="font-medium">1000 XAF</span>
        </li>
        <li class="flex justify-between text-[14px]">
          <span>Montant total</span>
          <span class="font-medium">300 000 XAF</span>
        </li>
      </ul>
    </app-contener-gray>
  </div>
  <div class="grid grid-cols-2 gap-3">
    <button class="rounded-lg py-2 border-main border-2 text-main font-medium">Annuler</button>
    <button class="rounded-lg py-2 bg-main text-white font-medium">Suivant</button>
  </div>
</div>
