<div class="h-full flex flex-col justify-between">
  <div class="flex flex-col gap-7 px-5">
    <div class="flex flex-col items-center justify-center gap-3">
      <iframe src="https://lottie.host/embed/391b780e-1f76-4dc7-8d61-64e970e2852a/iaaG8Y7DXk.json" width="80" height="80"></iframe>
      <div class="flex items-center gap-2">
        <div class="shrink-0">
          <img src="/assets/images/i_1.png" alt="icone" class="h-[30px]">
        </div>
        <p class="w-full text-main text-[10px] font-medium">Transaction certifiée<br/>par Bamboo Sentinelle</p>
      </div>
    </div>
    <p class="text-center">Votre demande est en cours de traitement</p>
    <ul class="flex flex-col gap-3">
      <li class="flex justify-between text-[14px]">
        <span>Type d'opération</span>
        <span class="font-medium">Demande de retrait</span>
      </li>
      <li class="flex justify-between text-[14px]">
        <span>Montant</span>
        <span class="font-medium">300 000 XAF</span>
      </li>
      <li class="flex justify-between text-[14px]">
        <span>Date</span>
        <span class="font-medium">22/12/2024</span>
      </li>
      <li class="flex justify-between text-[14px]">
        <span>Référence transaction</span>
        <span class="font-medium">BOB45505</span>
      </li>
    </ul>
  </div>
  <div class="grid grid-cols-2 gap-3">
    <button class="rounded-lg py-2 border-main border-2 text-main font-medium">Voir l'historique</button>
    <button class="rounded-lg py-2 bg-main text-white font-medium">Allez au dashboard</button>
  </div>
</div>
