.chart-container {
  position: relative;
  width: 100%;
  height: 350px;
  min-height: 300px;
  padding: 0.5rem 0;

  canvas {
    width: 100% !important;
    height: 100% !important;
    max-height: 400px;
  }
}

:host {
  display: block;
  width: 100%;
}
