<div class="h-full flex flex-col justify-between">
  <div>
    <h1 class="text-main text-2xl font-bold w-full max-w-[450px]">Demande de retrait</h1>
    <p class="w-full max-w-[500px]">
      Saisissez les informations pour effectuer votre demande de retrait.
    </p>
    <form class="w-full grid gap-3 mt-8">
      <!--    Input sans icone -->
      <div>
        <label for="name" class="block text-sm/6 font-medium text-gray-900">
          Numéro de compte
        </label>
        <div class="mt-2">
          <input required type="text" name="name" id="name" class="block w-full rounded-lg px-3 py-3 bg-background text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-main sm:text-sm/6" placeholder="Cliquez pour saisir">
        </div>
      </div>
      <!--    Fin input sans icone-->
      <!--    Input sans icone -->
      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-900">
          Montant
        </label>
        <div class="mt-2 grid grid-cols-[1fr_60px] bg-background focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-main rounded-lg">
          <input required type="email" name="name" id="email" class="block w-full px-3 py-3 text-base text-gray-900 placeholder:text-gray-400 bg-transparent sm:text-sm/6" placeholder="Cliquez pour saisir">
          <p class="flex justify-center items-center font-medium">XAF</p>
        </div>
      </div>
      <!--    Fin input sans icone-->
    </form>
  </div>
  <div class="grid grid-cols-2 gap-3">
    <button class="rounded-lg py-2 border-main border-2 text-main font-medium">Annuler</button>
    <button class="rounded-lg py-2 bg-main text-white font-medium">Suivant</button>
  </div>
</div>
