<div class="h-full flex flex-col justify-between">
  <div>
    <h1 class="text-main text-2xl font-bold w-full max-w-[450px]">Code de confirmation</h1>
    <p class="w-full max-w-[500px]">
      Entrez le code de vérification (OTP) envoyée  par mail boris*****&#64;exdrasshop.com pour confirmer la transaction
    </p>
    <div class="h-[50px] grid grid-cols-[50px_50px_50px_50px_50px_50px] gap-3 my-[50px]">
      <input type="text" placeholder="0" class="border rounded text-center"/>
      <input type="text" placeholder="0" class="border rounded text-center"/>
      <input type="text" placeholder="0" class="border rounded text-center"/>
      <input type="text" placeholder="0" class="border rounded text-center"/>
      <input type="text" placeholder="0" class="border rounded text-center"/>
    </div>
    <p>Vous n’avez pas reçu le code? <span class="text-main">Renvoyer</span></p>
  </div>
  <div class="grid grid-cols-1 gap-3">
    <button class="rounded-lg py-2 bg-main text-white font-medium">Valider</button>
  </div>
</div>
